body {
    background-color: green;
}

.container {
    margin-top: 48px;
    margin-bottom: 48px;
}

h1 {
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 5px solid black;
}

form {
    padding-bottom: 24px;
}
button {
    margin-top: 8px;
    margin-bottom: 24px;
}
#max {
    margin-bottom: 8px;
}

#invisible {
    display: none;
}